/* Основное содержимое стартовой страницы */

.fullmenu {
	height: 82%;
	overflow: hidden;
}

	.fullmenu > div {
		background-color: whitesmoke;
		opacity: 0.9;
		border: 1px dashed orange;
		border-radius: 10px;
		width: 49%;
		position: relative;
		height: 96%;
	}

.leftmenu {
	float: left;
}

.rightmenu {
	float: right;
}

.master, .player {
	float: right;
	width: 4em;
	height: 100%;
}

	.master p, .player p {
		display: block;
		float: right;
		border-left: 1px dashed black;
		border-radius: 10px 10px 10px 100px;
		background-color: orangered;
		width: 3em;
		height: 3em;
		padding: 0.5em;
		font-weight: bold;
		text-align: right;
		font-family: 'Indie Flower', cursive;
	}

.facilities {
	display: block;
	float: left;
}

	.facilities li {
		display: block;
		margin: 0.1em;
	}

	.facilities a {
		display:inline-block;
		background-color: white;
		border-bottom: none;
		border: 1px dashed orangered;
		border-radius: 10px;
		margin: 0.1em;
		padding: 0.4em;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
	}

.fullmenu a:hover {
	color: orangered;
	border: 1px dashed black;
}

		.games {
			height: 98%;
			overflow-y: scroll;
			padding: 0em;
		}

.games a {
	display: block;
	background-color: white;
	border-bottom: none;
	border: 1px dashed orangered;
	border-left: 1em solid orangered;
	border-radius: 10px;
	margin: 0.1em 1em 0.1em 1em;
	padding: 0.4em;
	overflow: hidden;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

.games ul:first-child {
	margin-top: 1em;
}


	@media screen and (max-width: 480px) {

		.fullmenu > div {
			width: 99%;
			max-height: 48%;
			margin: 0.1em;
		}

		.facilities a{
			max-height: 3.3em;
			overflow: hidden;
			padding: 0.2em;
			margin: 0em;
			font-size: small;
		}

	}

