@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.articles {
    height: 82%;
    overflow: hidden;
}

    .articles div {
        position: relative;
        height: 98%;
        float: left;
    }

        .articles div div {
            height: 75%;
            overflow-y: scroll;
            padding: 1em;
            background-color: whitesmoke;
            opacity: 0.9;
            border: 1px dashed orange;
            border-radius: 10px;
            position: relative;
            float: left;
        }

.buttones {
    display: inline-block;
    position: relative;
    left: 50%;
    float: left;
}


.articles li {
    display: inline-block;
    float: left;
    right: 50%;
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: xx-large;
    text-decoration-line:underline;
}

.articles button {
    width: 7em;
    height: 2em;
    font-weight: bold;
    font-size:medium;
    font-style: italic;
    color: orangered;
    background-color: whitesmoke;
    opacity: 0.8;
    border: 1px dashed black;
    border-radius: 5px;
    margin: 0.2em;
}
