@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.gallery {
	overflow-y: scroll;
	height: 81%;
	background-color: whitesmoke;
	opacity: 0.9;
	border: 1px dashed orange;
	border-radius: 10px;
	padding: 0.2em;
	margin: 0.2em;
}


.images li {
	float: left; 
	width: 23%; 
	padding: 0.5em; 
	box-sizing: border-box;
	background-color: white;
	border: 1px dashed orange;
	border-left: 0.5em solid orangered;
	border-radius: 10px;
	margin: 0.3em;
}

	.images li :hover {
		opacity: 0.5;
		border: 2px dashed black;
	}

.images img {
	display: block;
	max-width: 100%;
	height: auto;
	background-color: white;
	border: 2px dashed orange;
	border-radius: 10px;
	margin: 0.2em;
}

.images p {
	border: 2px dashed white;
	border-radius: 10px;
	font-weight: bold;
	text-align: right;
	font-family: 'Indie Flower', cursive;
}

.lb-loader, .lightbox {
	text-align: center;
	line-height: 0;
}

/* Всплывающие изображения и прокрутка */

body:after {
	content: url(../img/close.png) url(../img/327.gif) url(../img/prev.png) url(../img/next.png);
	display: none;
}

.lb-dataContainer:after, .lb-outerContainer:after {
	content: "";
	clear: both;
}

body.lb-disable-scrolling {
	overflow: hidden;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: whitesmoke;
	filter: alpha(Opacity=80);
	opacity: 0.8;
	display: none;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	font-weight: 400;
}

	.lightbox .lb-image {
		display: block;
		height: auto;
		max-width: inherit;
		max-height: none;
		border-radius: 3px;
		border: 2px dashed orange;
	}

	.lightbox a img {
		border: none;
	}

.lb-outerContainer {
	position: relative;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 4px;
	background-color: #fff;
}

.lb-loader, .lb-nav {
	position: absolute;
	left: 0;
}

.lb-outerContainer:after {
	display: table;
}

.lb-loader {
	top: 43%;
	height: 25%;
	width: 100%;
}

.lb-cancel {
	display: block;
	width: 64px;
	height: 64px;
	margin: 0 auto;
	background: url(../img/327.gif) no-repeat;
}

.lb-nav {
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav {
	left: 0;
}

.lb-nav a {
	outline: 0;
}

.lb-next, .lb-prev {
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(../img/prev.png) left 48% no-repeat;
	filter: alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	transition: opacity .6s;
}

	.lb-nav a.lb-prev:hover {
		filter: alpha(Opacity=100);
		opacity: 1;
	}

.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(../img/next.png) right 48% no-repeat;
	filter: alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	transition: opacity .6s;
}

	.lb-nav a.lb-next:hover {
		filter: alpha(Opacity=100);
		opacity: 1;
	}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

	.lb-dataContainer:after {
		display: table;
	}

.lb-data {
	padding: 0 4px;
	color: #ccc;
}

	.lb-data .lb-details {
		width: 85%;
		float: left;
		text-align: left;
		line-height: 1.1em;
	}

	.lb-data .lb-caption {
		font-size: 13px;
		font-weight: 700;
		line-height: 1em;
	}

		.lb-data .lb-caption a {
			color: #4ae;
		}

	.lb-data .lb-number {
		display: block;
		clear: left;
		padding-bottom: 1em;
		font-size: 12px;
		color: #999;
	}

	.lb-data .lb-close {
		display: block;
		float: right;
		width: 30px;
		height: 30px;
		background: url(../img/close.png) top right no-repeat;
		text-align: right;
		outline: 0;
		filter: alpha(Opacity=70);
		opacity: 0.7;
		-webkit-transition: opacity .2s;
		-moz-transition: opacity .2s;
		-o-transition: opacity .2s;
		transition: opacity .2s;
	}

		.lb-data .lb-close:hover {
			cursor: pointer;
			filter: alpha(Opacity=100);
			opacity: 1;
		}


	/*Media*/
@media screen and (max-width: 1366px) {
}

	@media screen and (max-width: 540px) {
		.images li {
			margin: 0em;
			border: none;
			width: 33%;
			padding: 0.2em;
			box-sizing: border-box;
			background-color: whitesmoke;
		}

		.images img {
			margin: 0em;
		}

		.images p {
			display:none;
		}
		}


